.container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.stack_container{
    width: 45%;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1.15em;

}

.stack_container li{
    color: #c3c3c3;
    text-shadow: 0 0 10px rgba(115, 250, 200, 0.4);
}

li{
    font-family: 'Noto Sans', sans-serif;

}

.stack_container_bright{
    width: 45%;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-around;
}

.stack_container_bright li{
    color: #20001c;
    text-shadow: 0 0 10px rgba(230, 250, 115, 0.4);
    font-size: 1.15em;
}

.certificates_container{
    width: 38%;
    max-height: 65vh;
    overflow-y: scroll;
    background: rgba(0, 190, 225, 0.05);
    border-radius: 20px 0 0 20px;
}

.certificates_container_bright{
    width: 40%;
    max-height: 65vh;
    overflow-y: scroll;
    border-radius: 20px 0 0 20px;
    background: linear-gradient(135deg, #e0dfddfe,
    #90909069);
}

.image_container_bright{
    width: 90%;
    border-radius: 5px;
    margin: 20px auto;
    overflow: hidden;
}

.image_container{
    width: 90%;
    border-radius: 5px;
    margin: 20px auto;
    overflow: hidden;
}


.image_container_bright h3{
    color: #111006;
}

.image_container img, .image_container_bright img{
    width: 100%;
    background-color: aliceblue;
}


@media (max-width: 800px) {

    .certificates_container, .certificates_container_bright, .image_container, .image_container_bright{
        width: 92%;
    }

    .image_container, .image_container_bright{
        width: 95%;
    }

    

    .certificates_container, .certificates_container_bright{
        margin-top: 20px;
    }

    .container li{
        margin: 10px;
    }
    
}

