.dark_theme{

}

.container{
    width: 100%;
    margin: 0 auto;
    margin-bottom: 15px;
    padding: 10px;
}


.h1,
.h2,
.h3 {
  margin: 0;
  text-rendering: optimizeLegibility;
  font-weight: 400;
}
.h1 {
  font-family: Carter One, sans-serif;
  font-size: 2.6em;
  line-height: 1.2;
  color: #73fac8;
  text-shadow: 0 0 10px rgba(115, 250, 200, 0.4);

}

.h1_bright{
  font-family: Carter One, sans-serif;
  font-size: 2.6em;
  line-height: 1.2;
  color: #0a181d;
  text-shadow: 0 0 10px rgba(83, 83, 83, 0.4);
}