.dark_theme{
    /* background-color: rgba(52, 32, 32, 1); */
}

.container{
    /* background: rgba(0, 190, 225, 0.15); */

    width: 100%;
    margin: 0 auto;
    margin-bottom: 15px;
    padding: 10px;
}

.text{
    color: #73fac8;
    font-family: 'Merriweather', serif;
}
.h1,
.h2,
.h3 {
  margin: 0;
  color: #fff;
  text-rendering: optimizeLegibility;
  font-weight: 400;
}
.h1 {
  font-family: Carter One, sans-serif;
  font-size: 2.6em;
  line-height: 1.2;
}