.container{
    width: 45%;
    margin: 0 auto;
    background-color: rgba(216, 197, 197, 0.2);
    border-radius: 20px 20px 5px 5px;
    overflow: hidden;
}

.paragraph{
    font-family: 'Noto Sans', sans-serif;
    width: 80%;
    letter-spacing: 2;
    line-height: 1.8;
    color: rgb(255, 250, 223);
    padding: 20px;
}