.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 25px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  border-radius: 20px;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(56, 56, 56);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 25px;
  left: 0px;
  border-radius: 20px;

  background-color: #b9745a;

  background: radial-gradient(
    farthest-corner at var(--x, 0) var(--y, 0),
    #73fac8,
    #00bee1
  );
  transition: 0.4s;
}

/* Rounded sliders */
.slider .round {
  border-radius: 34px;
}

.slider .round:before {
  border-radius: 50%;
}

input:checked + .slider {
  background-color: rgb(80, 79, 74)
}

input:focus + .slider {
  box-shadow: 0 0 1px #1b1616c0;
}

input:checked + .slider:before {
  transform: translateX(35.5px);
  background: radial-gradient(
    farthest-corner at var(--x, 0) var(--y, 0),
    rgb(245, 245, 220),
    #918888
  );
}
